<html>
    <head>
        <style>
            body{
                background-color: black
            }
        </style>
    </head>

    <body>
        <img src='media/{{path}}'/>
    </body>
</html>
